#arrow-down {
  visibility: collapse;
}

.side-nav-bar {
  height: 100%;
  width: var(--side-bar-width);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--side-bar-background);
  overflow: hidden;
  padding-top: 30px;
  transition: 0.5s;
}

@media only screen and (max-width: 700px) {
  .side-nav-bar {
    height: 0%;
  }

  #arrow-down {
    visibility: visible;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: var(--side-bar-width);
    height: 30px;
    background-color: var(--side-bar-background);
    cursor: pointer;
    border-radius: 0 0 5px 5px;
  }

  #arrow-down > img {
    margin-left: 25px;
  }

  #arrow-down > img:hover {
    cursor: pointer;
    filter: contrast(100%);
  }
}

.side-nav-bar > * {
  margin: 10px;
  padding: 10px 5px 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-radius: 50%;
}

.side-nav-bar > *:hover,
.button-clicked {
  background-color: var(--side-bar-icon-hover-bg);
  cursor: pointer;
}

.icon {
  width: 20px;
}

.sidebar-content {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--clr-sidebar-content-bg);
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  visibility: collapse;
  color: var(--side-bar-content-text);
  display: flex;
  flex-direction: column;
}

/* ===================== task list================================= */

#tasks-div,
.bottom {
  display: flex;
  flex-direction: column;
  font-family: var(--side-bar-font-family);
}

#tasks-div > * {
  padding: 10px 0 10px 0;
}

#tasks-div > label {
  background-color: var(--sidebar-h3-bg-color);
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
  text-align: left;
  font-family: var(--side-bar-font-family);
  font-size: 12px;
}

#tasks-div > button {
  text-align: left;
}

#tasks-div > h2 {
  text-align: center;
  font-size: 20px;
  font-family: var(--side-bar-font-family);
}

#input-container {
  display: flex;
  width: 100%;
  padding: 0;
}

#task-name,
#bg-url {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: var(--sidebar-label-bg-color);
  color: var(--side-bar-content-text);
}

#save-button,
#bg-url-submit {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: none;
  background: var(--select-input-background);
  color: var(--side-bar-content-text);
}

#save-button:hover,
#bg-url-submit:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(125, 125, 125);
}

.bottom > input {
  font-size: 15px;
  font-style: normal;
  font-weight: bolder;
  font-family: var(--side-bar-font-family);
  border: none;
  color: var(--side-bar-bottom-text);
  padding: 10px;
  box-shadow: 0 -5px 5px var(--side-bar-bottom-box-shadow);
  transition: 0.5s;
  text-align: center;
  background-color: var(--button-background);
}

.bottom > input:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--side-bar-bottom-hover-box-shadow);
  color: var(--side-bar-bottom-hover-text);
}

#task-list {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
  list-style-type: none;
}

.task {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 0.5px solid #818181;
  margin: 0;
  transition: 1s;
}

.task > img:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(90, 87, 87, 0.4));
}

.task > input {
  flex-grow: 7;
  text-align: left;
  padding-left: 5px;
  border: none;
  resize: none;
  background: inherit;
  outline: none;
  overflow: hidden;
}

.task > input:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task:active {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  background-color: #818181;
}

.task > i {
  margin-right: 10px;
}

.task > i:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  transition: ease-out;
}

#task-list > li:hover {
  box-shadow: 0 0 7px rgb(200, 200, 200);
}

/* setting tab */

.sidebar-content > h2 {
  text-align: center;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

h3 {
  background-color: var(--sidebar-h3-bg-color);
  border-radius: 5px 5px 0 0;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-family: var(--side-bar-font-family);
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
}

#time-limits > ul {
  list-style-type: none;
}

.setting-flex-container {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.setting-flex-item {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #bebebe;
}

.setting-flex-item > label,
#bg-url {
  width: 100%;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-size: 12px;
  font-family: var(--side-bar-font-family);
  margin: 0;
  background-color: var(--sidebar-label-bg-color);
}

.setting-flex-item > select,
#bg-url-submit {
  border: 0;
  background-color: var(--select-input-background);
  width: 25%;
  padding-left: 10px;
  text-align: left;
}

.setting-flex-item > button {
  border: 0;
  background-color: var(--button-background);
  width: 25%;
  padding-left: 10px;
  text-align: left;
}

#background-audio {
  margin: auto;
}

#range-container {
  display: flex;
  background-color: var(--select-input-background);
  width: 25.4%;
}
#alarm-volume {
  width: 100%;
}

.empty-box {
  height: 100%;
}

/* Theme */

.setting-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item > img {
  width: 60%;
  border-radius: 5%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input,
select {
  color: var(--side-bar-content-text);
}

input[type="number"] {
  color: black;
}

/* google translate */
.goog-te-combo > * {
  color: black;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: rgba(44, 44, 44, 0.4);
}

input,
select,
option,
p,
button {
  font-family: var(--side-bar-font-family);
}

#form-enabler {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: none;
  padding: 0;
}

#form-enabler > div > label {
  display: block;
  font-size: 10px;
  text-align: left;
  font-family: var(--side-bar-font-family);
}

#form-enabler > div > input {
  font-family: var(--side-bar-font-family);
  width: 100%;
  max-width: 80px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}
