#arrow-down {
  visibility: collapse;
}

.side-nav-bar {
  height: 100%;
  width: var(--side-bar-width);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: var(--side-bar-background);
  overflow: hidden;
  padding-top: 30px;
  transition: 0.5s;
}

@media only screen and (max-width: 700px) {
  .side-nav-bar {
    height: 0%;
  }

  #arrow-down {
    visibility: visible;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: var(--side-bar-width);
    height: 30px;
    background-color: var(--side-bar-background);
    cursor: pointer;
    border-radius: 0 0 5px 5px;
  }

  #arrow-down > img {
    margin-left: 25px;
  }

  #arrow-down > img:hover {
    cursor: pointer;
    filter: contrast(100%);
  }
}

.side-nav-bar > * {
  margin: 10px;
  padding: 10px 5px 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-radius: 50%;
}

.side-nav-bar > *:hover,
.button-clicked {
  background-color: var(--side-bar-icon-hover-bg);
  cursor: pointer;
}

.icon {
  width: 20px;
}

.sidebar-content {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  visibility: collapse;
}

/* ===================== task list================================= */

#tasks-div,
.bottom {
  display: flex;
  flex-direction: column;
}

#tasks-div > * {
  padding: 10px 0 10px 0;
}

#tasks-div > label {
  background-color: rgb(220, 220, 220);
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#tasks-div > button {
  text-align: left;
}

#tasks-div > h2 {
  text-align: center;
  font-size: 20px;
}

#input-container {
  display: flex;
  width: 100%;
  padding: 0;
}

#task-name {
  width: 100%;
  border: none;
  padding: 10px;
}

#save-button {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: none;
}

#save-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(125, 125, 125);
}

.bottom > input {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: rgb(45, 100, 146);
  padding: 10px;
  box-shadow: 0 -5px 5px rgb(226, 226, 226);
  transition: 0.5s;
  text-align: center;
}

.bottom > input:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(200, 200, 200);
  color: rgb(42, 56, 67);
}

#task-list {
  padding: 0;
  margin: 0;
  height: 80%;
  overflow: auto;
  list-style-type: none;
}

.task {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 0.5px solid #818181;
  margin: 0;
  transition: 1s;
}

.task > img:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(90, 87, 87, 0.4));
}

.task > input {
  flex-grow: 7;
  text-align: left;
  padding-left: 5px;
  border: none;
  resize: none;
  background: inherit;
  outline: none;
  overflow: hidden;
}

.task > input:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task:active {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  background-color: #818181;
}

.task > i {
  margin-right: 10px;
}

.task > i:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  transition: ease-out;
}

#task-list > li:hover {
  box-shadow: 0 0 7px rgb(200, 200, 200);
}

/* setting tab */

#setting-div {
  display: flex;
  flex-direction: column;
  font-family: var(--side-bar-font-family);
}

#setting-div > h2 {
  text-align: center;
  font-size: 20px;
  padding: 10px 0 10px 0;
}

#time-limits > h3 {
  background-color: rgb(220, 220, 220);
  border-radius: 5px 5px 0 0;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-family: var(--side-bar-font-family);
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
}

#time-limits > ul {
  list-style-type: none;
}

.setting-flex-container {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.setting-flex-item {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #bebebe;
}

.setting-flex-item > label {
  width: 100%;
  padding: 10px 0 10px 10px;
  text-align: left;
  font-size: 12px;
  margin: 0;
  background-color: #fff;
}

.setting-flex-item > select {
  border: 0;
  background-color: var(--button-background);
  width: 40%;
  padding-left: 10px;
  text-align: left;
}

#background-audio {
  margin: auto;
}

#alarm-volume {
  color: #818181;
  width: 24.5%;
}

#empty-box {
  height: 60%;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: rgba(44, 44, 44, 0.4);
}

#form-enabler {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: none;
  padding: 0;
}

#form-enabler > div > label {
  display: block;
  font-size: 10px;
  text-align: left;
}

#form-enabler > div > input {
  width: 100%;
  max-width: 80px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}
