@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("side-nav-bar.css");
@import url("styles-themes.css");
/******** Variables ********/
:root {
  --ff-timer: "Helvetica Neue";
  --ff-primary: "Raleway";
  --ff-secondary: "Roboto";

  --fs-timer-large: 160px;
  --fs-timer-small: 100px;
  --fs-title-large: 60px;
  --fs-title-medium: 40px;
  --fs-title-small: 30px;
  --fs-mode-button-large: 30px;
  --fs-mode-button-small: 20px;
  --fs-instructions-large: 20px;
  --fs-instructions-small: 10px;
  --fs-instructions-title-large: 30px;
  --fs-instructions-title-small: 15px;
  --fs-counter-large: 20px;
  --fs-counter-medium: 16px;
  --fs-counter-small: 12px;
  --fs-footer: 15px;

  --fw-bold: 700;

  --transition-time: 1s;
}

/******** GLOBALS ********/
/* Body */
body {
  /* color: var(--clr-body-dark); */
  transition: background 1s;
}

body[data-state="pomo"] {
  background: var(--background-work);
  background-image: var(--background-img);
  border: none;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

body[data-state="short"] {
  background-color: var(--background-short);
  background-repeat: no-repeat;
  background-size: cover;
}

body[data-state="long"] {
  background-color: var(--background-long);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Main Footer Layout */
header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 50%;
  margin: 0 auto;
}

footer {
  font-size: var(--fs-footer);
  text-align: center;
  color: var(--text-dark);
}

/* Typography */
h1,
h2,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font: 400 48px "Roboto", sans-serif;
  color: var(--text-dark);
}

p,
a,
li {
  font-family: "Helvetica", sans-serif;
}

a {
  color: var(--pomo-red);
}

a:hover {
  color: var(--text-dark);
}

/* Interaction */
button {
  background: var(--background-light);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background 0.5s;
  color: var(--text-dark);
}

button:hover {
  background: rgba(0, 0, 0, 0.2);
}

button:active {
  background: rgba(50, 50, 50, 0.4);
}

/******** HELP AND SETTINGS ********/
#options-btn-container {
  display: flex;
}

/******** BREAK REMINDERS ********/
#break-reminder,
#reminder {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 10px;
  color: var(--text-dark);
}

#reminder {
  padding-top: 0px;
  padding-bottom: 30px;
  color: var(--text-dark);
}

/******** PROGRESS BAR ********/

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  overflow: hidden;
}

.progress-bar div {
  width: 30%;
  height: 32px;
  background-color: var(--background-light);
  border-radius: 5px;
  /* border: 2px solid var(--border-dark); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar img {
  height: 24px;
  width: auto;
}

body[data-state="pomo"] #progress-pomo {
  background: #ed6663;
}

body[data-state="short"] #progress-break {
  background: #b8f1b0;
}

/******** TIMER ********/
#state,
#timer-display {
  text-align: center;
}

#state {
  font-size: var(--fs-mode-button-small);
  width: 100%;
}

.timer {
  background-color: var(--background-light);
  border-radius: 5px;

  /* border: 2px solid var(--border-dark); */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 24px 12px;
}

.timer * {
  font: 16px "Helvetica Neue", sans-serif;
  color: var(--text-dark);
  padding: 24px 16px;
}

.timer span,
.timer p {
  padding: 0;
}

.timer p {
  margin: 6px;
}

#timer-display {
  width: 100%;
  font-size: 96px;
  padding: 0;
}

/******** START AND STOP BUTTON ********/
#start-reset {
  display: flex;
  justify-content: center;
}

#start-reset button {
  margin: 24px 12px;
  padding: 6px 24px;
  font-size: 16px;
}

/* button {
  color: var(--text-dark);
} */

/******** CURRENT TASK ********/
.current-task * {
  text-align: center;
  color: var(--text-dark);
}

/********** MODALS *************/

/* Help Modal  */
#help-modal,
#settings-modal {
  width: 50%;
  height: 80%;
  border: none;
  padding: 24px 5%;
}

#help-modal h3 {
  font-size: 24px;
}

.close-modal-btn {
  margin: 0;
  padding: 0;
  float: right;
  font-size: 24px;
  transition: color 0.5s;
}

.close-modal-btn:hover {
  color: red;
  cursor: pointer;
}

#time-customization span {
  padding-top: 15px;
}

#notif-reminder {
  color: #eb5353;
  text-align: center;
}

li {
  margin: 5px;
}

.hidden {
  display: none;
}

#add-task-form div {
  margin-top: 10px;
}

@media screen and (min-width: 500px) {
  .switches li::before {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  button.help-button,
  button.settings {
    border-radius: 15px;
  }
}

/******** MEDIA QUERIES ********/

/* Mobile: Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  header {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }

  main {
    width: 80%;
  }

  /******** PROGRESS BAR ********/
  .progress-container {
    justify-content: space-around;
  }

  .progress-container div {
    width: 10px;
    height: 10px;
  }

  /******** TIMER ********/
  #timer-display {
    font-size: 64px;
  }

  /******** TASK LIST ********/
  .tasks {
    width: 100%;
    padding: 0;
    height: 25vh;
  }

  .tasks h2 {
    margin: 6px 0;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  header {
    width: 80%;
  }

  main {
    width: 80%;
  }
}
